{include="pclientes_public/header"}

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>Bienvenido</h1>
            ¡Hola {$fsc->cliente->razonsocial}!
         </div>
         <div class="well">
            En este punto se podrían añadir mediante extensiones iframes,
            o bien definir un div con id al que poder añadir html mediante
            ajax.
         </div>
      </div>
   </div>
</div>

{include="pclientes_public/footer"}