<div class="masthead clearfix">
   <div class="inner">
      <h3 class="masthead-brand">{if="$fsc->empresa->nombrecorto"}{$fsc->empresa->nombrecorto}{else}{$fsc->empresa->nombre}{/if}</h3>
      <nav>
         <ul class="nav masthead-nav">
            <li{if="$fsc->page->name=='portada'"} class="active"{/if}>
               <a href="{#FS_PATH#}index.php">Home</a>
            </li>
            <li{if="$fsc->page->name=='contacto'"} class="active"{/if}>
               <a href="{#FS_PATH#}index.php?page=contacto">Contacto</a>
            </li>
            {$session_exists=portal_session_exists()}
            {if="$session_exists"}
            <li{if="$fsc->page->name=='acceso_clientes'"} class="active"{/if}>
               <a href="{#FS_PATH#}index.php?page=acceso_clientes&exit=true">Cerrar sessión</a>
            </li>
            {else}
            <li{if="$fsc->page->name=='acceso_clientes'"} class="active"{/if}>
               <a href="{#FS_PATH#}index.php?page=acceso_clientes">Acceso clientes</a>
            </li>
            <li>
               <a href="{#FS_PATH#}index.php?page">Acceso empleados</a>
            </li>
            {/if}
            <!-- INICIO Promoción plugins relacionados -->
            <li>
               <a target="_blank" href="https://www.facturascripts.com/plugin/woocommerce">Woocomerce</a>
            </li>
            <li>
               <a target="_blank" href="https://www.facturascripts.com/plugin/prestashop_micro">Prestashop</a>
            </li>
            <!-- FIN Promoción plugins relacionados -->
         </ul>
      </nav>
   </div>
</div>