{include="public/header"}

      <div class="container">
         <div class="jumbotron">
            <h1 class="cover-heading">Datos de contacto</h1>
            <p class="lead"><b>Dirección:</b> {$fsc->empresa->direccion}</p>
            <p class="lead"><b>Email:</b> {$fsc->empresa->email}</p>
            <p class="lead"><b>Telefono:</b> {$fsc->empresa->telefono}</p>
            <p class="lead"><b>Horario:</b> {$fsc->empresa->horario}</p>
         </div>
      </div>

{include="public/footer"}