{include="header2"}

<div class="container-fluid" style="margin-top: 10px;">
   <div class="table-responsive">
      <table id="tabla_facturas" class="table table-hover table-striped" cellspacing="0" width="100%">
         <thead>
            <tr>
               <th class="text-left">Código</th>
               <th class="text-center">Pagado</th>
               <th class="text-right">Total</th>
               <th class="text-center">Fecha</th>
               <th class="text-center">Fecha vencimiento</th>
               <th class="text-right">Ver</th>
            </tr>
         </thead>
         <tbody>
            {loop="$fsc->resultado"}
            <tr class='{if="$value->pagada"}success{else}danger{/if}'>
               <td class="text-left">
                  {$value->codigo}
               </td>
               <td class="text-center">
                  {if="$value->pagada"}Sí{else}No{/if}
               </td>
               <td class="text-right">
                  {$fsc->show_precio($value->totaleuros)}
               </td>
               <td class="text-center">
                  {$value->fecha}
               </td>
               <td class="text-center">
                  {$value->vencimiento}
               </td>
               <td class="text-right">
                  <a target="_blank" href="index.php?page=ver_facturas_venta&id={$value->idfactura}" class="btn btn-xs btn-primary" aria-label="Ver">
                     <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                     <span class="hidden-xs">&nbsp; Ver</span>
                  </a>
               </td>
            </tr>
            {else}
            <tr class="warning">
               <td colspan="6">No tienes ninguna {#FS_FACTURA#}.</td>
            </tr>
            {/loop}
         </tbody>
      </table>
   </div>
</div>

{include="footer2"}
